/* layout */

html {
    font-family: var(--font-family);
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(----color-background-primary);
}

section {
    margin: var(--sizing-md) 0;
}

footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color: var(--color-background-primary-dark);
    }
}

/* text */

a {
    color:  var(--color-link);
    cursor: pointer;
}

a:hover {
    color: var(--color-accent);
}

h1,h2,h3,h4,h5,h6,p,li,a,label,tr,blockquote,pre {
    color: var(--color-text-primary);
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--font-family-serif);
    font-weight: inherit;
    margin: 0;
}

h1 {
    font-size: calc(var(--font-size) * 2);
    line-height: calc(var(--font-size) * 2.5);
}

h2 {
    font-size: calc(var(--font-size) * 1.5);
    line-height: calc(var(--font-size) * 2);
}

h3 {
    font-size: calc(var(--font-size) * 1.3);
    line-height: calc(var(--font-size) * 1.8);
}

h4 {
    font-size: calc(var(--font-size) * 1.2);
    line-height: calc(var(--font-size) * 1.7);
}

p, a, li, label {
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.5);
    margin: 0;
}

blockquote {
    font-style: italic;
    padding: var(--sizing-sm) var(--sizing-md);
    border-left: var(--sizing-xs) solid var(--color-border);
    margin: var(--sizing-md) 0;
    font-size: var(--font-size);
}

@media(prefers-color-scheme: dark) {
    h1,h2,h3,h4,h5,h6,p,li,a,label,tr,blockquote,pre {
        color: var(--color-text-primary-dark);
    }

    a {
        color:  var(--color-link-dark);
    }

    a:hover {
        color: var(--color-accent-dark);
    }
}

/* input */

input[type="text"], input[type="password"], input[type="email"] {
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.5);
    border: var(--border-width) solid var(--color-border);
    border-radius: var(--sizing-sm);
    padding: var(--sizing-xs);
    flex-grow: 1;
}

input[type="submit"] {
    font-size: var(--font-size);
    line-height: calc(var(--font-size) * 1.5);
    border: 0;
    border-radius: var(--sizing-sm);
    padding: var(--sizing-xs) var(--sizing-md);
    background-color: var(--color-background-secondary-dark);
    color: var(--color-text-secondary-dark);
    cursor: pointer;
}

/* table */

table {
    width: 100%;
    padding: var(--sizing-xs);
    overflow: hidden;
    border-collapse: collapse;
}

table th:last-child,
table td:last-child {
    text-align: right;
}

tbody > tr {
    border-bottom: var(--border-width) solid var(--color-border);
}

td, th {
    padding: var(--sizing-sm) var(--sizing-md);
}

thead {
    text-align: left;
    font-weight: bold;
    color: var(--color-text-secondary);
    background-color: var(--color-background-secondary);
    border-bottom: none;
    font-size: var(--font-size);
}

thead tr:first-child th:first-child {
    border-top-left-radius: var(--sizing-sm);
    border-bottom-left-radius: var(--sizing-sm);
}

thead tr:first-child th:last-child {
    border-top-right-radius: var(--sizing-sm);
    border-bottom-right-radius: var(--sizing-sm);
}

tr:hover {
    background-color: var(--color-background-secondary);
}

@media(prefers-color-scheme: dark) {
    thead {
        color: var(--color-text-secondary);
        background-color: var(--color-background-secondary-dark);
    }

    tr:hover {
        background-color: var(--color-background-secondary-dark);
    }
}

/* general */

img {
    max-width: 100%;
}

hr {
    border: 0;
    border-top: var(--border-width) solid var(--color-border);
    margin-bottom: var(--sizing-md);
}

code {
    display: inline-block;
    font-family: monospace;
    background-color: var(--color-background-secondary);
    padding: var(--sizing-sm);
    border-radius: var(--sizing-xs);
}
